<div class="form">
  <mat-form-field appearance="fill" [matTooltip]="'Filter by sensor type/name'">
    <mat-label>Sensor Type (Name)</mat-label>
    <mat-select id="filter-form-drop-down" [formControl]="filterForm" multiple>
      <mat-option class="filter-form-drop-down-option" *ngFor="let sensorType of ((filterFormOptions | async) | keyvalue)" [value]="sensorType.key">{{ sensorType.key + ' (' + sensorType.value + ')' }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
