@import '~@angular/material/theming';

.form {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white!important;
  @include mat-elevation(2);
}
