<div class="map-container" [@mapTable]="(sensorOnMap | async) ? 'map' : 'table'" [@pulse]="!!(sensorOnMap | async)">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div *ngIf="sensorOnMap | async" class="mat-elevation-z2 box-id" [@bounceInDownOnEnter] [@bounceOutUpOnLeave]>
  <p> Results for {{ (sensorOnMap | async).box_id }} </p>
  <button
    id="close-button"
    mat-icon-button
    color="primary"
    aria-label="close icon"
    [matTooltip]="'Return to table'"
    (click)="returnToTableView()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
