.map-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.box-id {
  position: relative;
  margin: 0 auto;
  background-color: white;
  z-index: 3;
  padding: 5px 10px;
  border: 0 solid white;
  border-radius: 20px;
  display: flex;
  max-width: 250px;
  width: 60vw;

  p {
    font-weight: bold;
    margin: auto auto;
  }
}
