<div class="container" [@mapTable]="(sensorOnMap | async) ? 'map' : 'table'" (resized)="onResize($event)">
  <div class="table-filters">
    <app-table-filter (filterFormValue)="filterTable($event)" [ngStyle]="{ display: !!(sensorOnMap | async) && !isWindowTallEnough() ? 'none' : 'inline' }"></app-table-filter>
  </div>
  <div class="mat-elevation-z2 table-paginator-wrapper" [ngStyle]="{ display: !!(sensorOnMap | async) && !isWindowTallEnough() ? 'none' : 'block' }">
    <mat-progress-bar *ngIf="dataFetchInProgress | async" mode="indeterminate"></mat-progress-bar>
    <div class="table-wrapper">
      <table mat-table [dataSource]="sensorDataSource" matSort (matSortChange)="sortTable($event)">
        <ng-container *ngFor="let sensorColumn of getSensorColumns()" [matColumnDef]="sensorColumn" [sticky]="sensorColumn === SensorColumnsEnum.ID && isWindowWideEnough()" ngSwitch="{{ sensorColumn }}">
          <ng-container *ngSwitchCase="SensorColumnsEnum.SENSOR_TYPE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ sensorColumn | translate }} </th>
            <td mat-cell *matCellDef="let sensor"> {{ sensor[sensorColumn] }} </td>
          </ng-container>
          <ng-container *ngSwitchCase="SensorColumnsEnum.READING_TS">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ sensorColumn | translate }} </th>
            <td mat-cell *matCellDef="let sensor"> {{ sensor[sensorColumn] | date: 'medium' }} </td>
          </ng-container>
          <ng-container *ngSwitchCase="SensorColumnsEnum.VIEW_ON_MAP">
            <ng-container>
            <th mat-header-cell *matHeaderCellDef >{{ sensorColumn | translate }}</th>
            <td mat-cell *matCellDef="let sensor">
              <button class="view-button" mat-flat-button color="primary" (click)="showSensorOnMap(sensor)">View</button>
            </td>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <th mat-header-cell *matHeaderCellDef> {{ sensorColumn | translate }} </th>
            <td mat-cell *matCellDef="let sensor"> {{ sensor[sensorColumn] }} </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getSensorColumns(); sticky: isWindowTallEnough()" ></tr>
        <tr mat-row *matRowDef="let row; columns: getSensorColumns();"></tr>
      </table>
    </div>
    <mat-paginator class="paginator" [pageSizeOptions]="(sensorOnMap | async) ? [3, 5] : [5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
