$table-filter-div-width: 80vw;

.container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 100;
  width: 100%;
}

.table-filters {
  align-self: flex-start;
  width: $table-filter-div-width;
  margin: 10px auto;
}

.table-paginator-wrapper {
  position: relative;
  min-height: 200px;
  width: $table-filter-div-width;
  margin: auto auto;
  max-height: 80vh;
}

.table-wrapper {
  position: relative;
  max-height: 50vh;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-id {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-box_id {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-sensor_type {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-name {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-range_l {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-range_u {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-longitude {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-latitude {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-reading {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-unit {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-reading_ts {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
}
.mat-column-view_on_map {
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
  text-align: center;
}
::ng-deep .mat-paginator-range-label {
  margin: 0!important;
}
